AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_DEFAULT_REGION=us-east-1
AWS_S3_BUCKET_NAME=your-s3-bucket-name
ALLOWED_ORIGINS=http://localhost:8501
BACKEND_URL=http://localhost:8000/api/v1/analyze
